*{margin:0; padding:0; box-sizing:border-box; font-family: 'Ubuntu', sans-serif;}

/* NAVIGATION BAR */
.navbar-brand{
	font-size:2rem;
	font-weight:bold;
}
.custom-nav .nav-item .nav-link{
	color:white;
}


.back-image{
	background-image:linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../images/bg.jpg);
	width:100%;
	height:70vh;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;	
}
.content{
	width:50%;
	height:70vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.content h4{
	color:white;
	letter-spacing:4px;	
}
.content h3{
	color:red;
	font-weight:700;
	letter-spacing:2px;		
}

#id{
	width:50%;
	height:50%;
}

#map{
	width:100%;
	height:100%;
	border:1px solid red;
}

.custom-login-form{
	box-shadow:2px 2px 3px red;
}




@media only screen and (max-width: 1099px){
	.content{
		width:100%;
	}
}
@media only screen and (max-width: 550px){
	.content{
		width:100%;
	}
	.content h4{
		color:white;
		letter-spacing:0;	
	}
	.content h3{
		color:red;
		letter-spacing:0;		
	}
}
@media only screen and (max-width: 460px){
	.content h4{
		color:white;
		letter-spacing:0;
		font-size:20px;	
	}
	.content h3{
		color:red;
		letter-spacing:0;
		font-size:20px;		
	}
}
@media only screen and (max-width: 350px){
	.content h4{
		color:white;
		letter-spacing:0;
		font-size:16px;	
	}
	.content h3{
		color:red;
		letter-spacing:0;
		font-size:16px;		
	}
}


@media only screen and (max-width: 780px){
	.cust-footer-col {
		width: 100%;
	}
}